---
import Layout from '../../layouts/Layout.astro';

---
<title>Présentation</title>
<Layout>
    <h2 class="text-3xl font-hammersmith ml-4 mt-6">Présentation du festival</h2>
    <p class="font-fredoka mt-6 ml-3 text-lg">Notre festival se nomme Festiv'Halloween, il a pour thème les films d'horreurs et d'épouvantes. Il se déroulera du 29 au 31 Octobre au colisée à Montbéliard (25200).</p>
    <p class="font-fredoka mt-6 ml-3 text-lg">Notre motivation a été d'organiser un événement pour les amateurs de films d'horreur, les jeunes et les professionels du cinéma.</p>
    <h2 class="text-3xl font-hammersmith ml-4 mt-6">Présentation de notre équipe</h2>
    <p class="font-fredoka mt-6 ml-3 text-lg">Notre équipe se compose de bénévoles, ainsi que de l'équipe du Colisée. Tout ces gens pourront nous permettre de vous faire vivre une incroyable aventure au Festiv'Halloween</p>
    <h2 class="text-3xl font-hammersmith ml-4 mt-6">Notre charte</h2>
    <p class="font-fredoka mt-6 ml-3 text-lg">Nos valeurs sont le partage, la culture, la diversité et le divertissement</p>
    <h2 class="text-3xl font-hammersmith ml-4 mt-6">Voici tout les infos pratiques</h2>
    <p class="font-fredoka mt-6 ml-3 text-xl font-bold">Présentation des prix :</p>
    <li class="font-fredoka ml-3 text-lg">5€ / Étudiants et enfants</li>
    <li class="font-fredoka ml-3 text-lg">10€ / Standard</li>
    <h2 class="text-3xl font-hammersmith ml-4 mt-6">Lieu</h2>
    <p class="font-fredoka mt-6 ml-3 text-lg">Le festival se déroulera au colisée à Montébéliard (8 Rue henri Mouhot)</p>
    <div class="flex flex-col items-center justify-center mt-6">
        <img class="border-2 rounded-xl w-[80%]" src="/src/assets/others_images/colisee_image.webp" alt="Image du colisée">
        <p class="font-fredoka text-xs mt-1 whitespace-nowrap">Photographie du colisée</p>
    </div>
</Layout>
