---
import Layout from '../../layouts/Layout.astro';

---
<title>À propos</title>
<Layout>
    <h2 class="text-3xl font-hammersmith ml-4 mt-6">À propos</h2>
    <p class="font-fredoka mt-6 ml-3 text-lg">Ce travail a été réalisé dans le cadre d'une SAÉ (Situation d'Apprentissage et d'Évaluation) en BUT MMI (Bachelor Universitaire de Technologie Métiers du Multimédia et de l'Internet) à Montbéliard. Il a permis d'appliquer des compétences théoriques et pratiques acquises durant ma formation, en explorant des thématiques variées et en développant des projets concrets.</p>
</Layout>