@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");

@theme components {
    --font-nosifer: 'Nosifer', cursive;
    --font-fredoka: 'Fredoka', sans-serif;
    --font-hammersmith: 'Hammersmith One';
}

@layer base {
    h1 {
        @apply font-nosifer;
    }
}