---
import '../styles/global.css'
---

<div class=" bg-[#252525] mt-3">
    <div class="flex items-center justify-center">
        <img src="/src/assets/logo/logo_without_text.webp" class="m-[2%] lg:m-[0.5%] w-[13%] sm:w-[10%] md:w-[9%] lg:w-[6.5%] xl:w-[4.5%] h-auto" alt="Logo Festiv'Halloween"/>
        <h1 class="text-[#FF2C00] text-xl sm:text-3xl md:text-3xl lg:text-4xl font-Nosifer">Festiv'Halloween</p>
    </div>
    <div class="flex justify-center grid-cols-3 gap-[10%] mt-[2%]">
        <div>
            <p class="font-fredoka sm:text-2xl text-[#FF2C00]">Menu :</p>
            <li class="font-fredoka sm:text-1xl text-[#FF2C00]">
                <a>Accueil</a>
            </li>
            <li class="font-fredoka sm:text-1xl text-[#FF2C00]">
                <a>Contacts</a>
            </li>
            <li class="font-fredoka sm:text-1xl text-[#FF2C00]">
                <a>Programmation</a>
            </li>
            <li class="font-fredoka sm:text-1xl text-[#FF2C00]">
                <a>Billeterie</a>
            </li>
            <li class="font-fredoka sm:text-1xl text-[#FF2C00]">
                <a>Filmographie</a>
            </li>
            <li class="font-fredoka sm:text-1xl text-[#FF2C00]">
                <a>À propos</a>
            </li>
        </div>
        <div>
            <p class="font-fredoka sm:text-2xl text-[#FF2C00]">Contact :</p>
            <li class="font-fredoka sm:text-1xl text-[#FF2C00]">
                <a>03 81 94 53 89</a>
            </li>
            <li class="font-fredoka sm:text-1xl text-[#FF2C00]">
                <a>8 Rue Henri Mouhout</a>
            </li>
            <li class="font-fredoka sm:text-1xl text-[#FF2C00]">
                <a>25200 Montbéliard</a>
            </li>
        </div>
        <div class="max-w-[15%]">
            <p class="font-fredoka sm:text-2xl text-[#FF2C00]">Nous suivre :</p>
            <div class="grid grid-cols-3 mt-2">
                <a href="https://www.instagram.com" class="w-[40%]">
                    <img src="/src/assets/icons/icon_instagram.webp" alt="Instagram"/>
                </a>
                <a href="https://www.tiktok.com" class="w-[40%]">
                    <img src="/src/assets/icons/icon_tiktok.webp" alt="Tik tok"/>
                </a>
                <a href="https://www.facebook.com" class="w-[40%]">
                    <img src="/src/assets/icons/icon_facebook.webp" alt="Facebook"/>
                </a>
            </div>
        </div>
    </div>
    <div class="flex items-center justify-center">
        <img src="/src/assets/logo/logo_mmi.webp" class="w-[10%] h-auto mb-2 mt-2" alt="Logo MMI"/>
    </div>
</div>