---
import '../styles/global.css'
---

<div class="bg-[#FE603F]">
    <img src="/src/assets/logo/logo_without_text.webp" alt="Logo Festiv'Halloween" class="w-1/20" />
    <p class="font-Nosifer">Festiv'Halloween</p>
</div>
