---
import '../styles/global.css'
---

<div class="sticky top-0 z-50 flex items-center space-x-4 bg-[#FE603F] shadow-2xl">
    <a href="/" class="m-[2%] lg:m-[0.5%] w-[13%] sm:w-[10%] md:w-[9%] lg:w-[6.5%] xl:w-[4.5%] h-auto">
        <img src="/src/assets/logo/logo_without_text.webp" alt="Logo Festiv'Halloween"/>
    </a>
    <h1 class="ml-[12%] sm:ml-[12%] md:ml-[15%] lg:ml-[20%] xl:ml-[28%] text-xl sm:text-2xl md:text-3xl lg:text-4xl">Festiv'Halloween</h1>
    <button class="absolute right-0 w-[13%] sm:w-[10%] md:w-[9%] lg:w-[6.5%] xl:w-[4.5%] mr-[2%] lg:mr-[0.5%]">
        <img src="/src/assets/icons/icon_menu_hamburger.webp" alt="Menu"/>
    </button>
</div>
<img src="/src/assets/others_images/image_index.webp" alt="Image d'un chateau hanté'" class="w-full h-auto max-h-50 md:max-h-80 lg:max-h-100 object-cover"/>
