---
import '../styles/global.css'
---

<div class="flex items-center sticky space-x-4 bg-[#FE603F] shadow-2xl">
    <a href="/" class="m-[2%] lg:m-[0.5%] w-[13%] sm:w-[10%] md:w-[9%] lg:w-[6.5%] xl:w-[4.5%] h-auto">
        <img src="/src/assets/logo/logo_without_text.webp" alt="Logo Festiv'Halloween"/>
    </a>
    <p class="ml-[14%] sm:ml-[18%] md:ml-[25%] lg:ml-[30%] xl:ml-[35%] text-xl sm:text-3xl md:text-3xl lg:text-4xl font-Nosifer">Festiv'Halloween</p>
    <button class="absolute right-0 w-[13%] sm:w-[10%] md:w-[9%] lg:w-[6.5%] xl:w-[4.5%] mr-[2%] lg:mr-[0.5%]">
        <img src="/src/assets/icons/icon_menu_hamburger.webp" alt="Menu"/>
    </button>
</div>
<img src="/src/assets/others_images/image_index.webp" alt="Image d'un chateau hanté'" class="w-full h-auto max-h-50 md:max-h-80 lg:max-h-100 object-cover"/>
