---
import Cardanimation from '../../components/Cardanimation.astro';
import Layout from '../../layouts/Layout.astro';
import { allAnimationByDiffusion } from '../../js/backend.mjs';
export const prerender = false;

let animations;
animations = await allAnimationByDiffusion();

---
<title>Activités</title>
<Layout>
    <h2 class="text-4xl font-hammersmith text-center mt-6">Programmation</h2>
    <div class="grid flex-col items-center grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 space-x-4">
        {animations?.map((offre) => (
            <Cardanimation {...offre} />
        ))}
    </div>
</Layout>