---
import Layout from '../../layouts/Layout.astro';

---

<title>Billeterie</title>
<Layout>
    <h2 class="text-3xl font-hammersmith ml-4 mt-6">La billeterie du festival</h2>
    <p class="font-fredoka mt-6 ml-3 text-lg">Le Festiv'Halloween s'engage à rendre l'événement accessible à tous en proposant plusieurs tarifs adaptés aux différents publics. Que vous soyez étudiant ou simple amateur de films d'horreur, vous trouverez un prix qui vous correspond. Un tarif spécial est réservé aux étudiants. Pour le reste du public, un tarif standard est appliqué. Festiv'Halloween, c'est une expérience unique, ouverte à tous !</p>
    <p class="font-fredoka mt-6 ml-3 text-lg">Présentation des prix :</p>
    <li class="font-fredoka ml-3 text-lg">5€ / Films pour les étudiants et enfants</li>
    <li class="font-fredoka ml-3 text-lg">10€ / Films pour le reste du public</li>
    <button class="inline-flex items-center gap-6 px-4 py-3 rounded-[20px] bg-[#FE603F] mt-6 ml-3 mb-3">
        <img src="/src/assets/icons/icon_arrow.webp" alt="Icone de ticket" class="w-[30px] h-auto">
        <p class="text-[#181818] font-fredoka text-[18px] font-bold uppercase">Accéder à la billeterie</p>
    </button>
</Layout>